ul {
  list-style: none;
}

.portifolio {
  padding: 1rem 2rem 0 2rem;

  .companies--box{
    width: 100%;
    margin-bottom: 2rem;
    .companies--list{
      padding: 2rem;
      display: grid;
      place-items: center;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      background: #fff;
      // grid-gap: 2rem;

      .company--link{
        width: 100px;
        img{
          width: 100%;
        }
      }
    }
  }



  .board {
    display: grid;
    // flex-wrap: wrap;
    // margin: 1rem 1rem;
    // justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

    .card {
      width: 100%;
      height: 20vh;
      background-color: #ebebeb;
      // background-image: url(../../assets/cardbg.png);
      // background-size: 20%;
      // background-repeat: no-repeat;
      background-position: center;
      // background-position-x: 1.5rem;

      border: 4px solid #ff6825;

      position: relative;
      display: flex;
      align-items: center;
      .img {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;

        img {
          width: 20%;
        }
      }

      h1 {
        font-family: "Staatliches", monospace;
        font-size: 1.5rem;
        font-weight: 400;
        width: 100%;
        text-align: center;

        background-image: linear-gradient(
          to right,
          #ff854e,
          #ff793d,
          #ff7435,
          #ff6e2d,
          #ff6825,
          #ff6825
        );
      }

      .lang {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0.3rem;
        padding: 0;
        width: 100%;
        bottom: 0;
        right: 0;
        font-family: "Ubuntu Mono", monospace;
        h3 {
          padding: 0.3rem;
          background-color: #141414;
          color: #ebebeb;
          width: 100%;
          div {
            width: 10px;
            height: 10px;
          }
        }
      }
      &:hover {
        box-shadow: rgba(255, 255, 255, 0.25) 0px 4px 16px,
          rgba(255, 255, 255, 0.25) 0px 8px 24px,
          rgba(255, 255, 255, 0.25) 0px 16px 56px;
      }
    }
    .description {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 0.3rem;

      li {
        text-align: right;
      }
      p li {
        text-align: left;
        color: #fff;
      }

      .just--repo {
        cursor: help;
      }
    }
  }
}

@media (min-width: 1080px) {
  .portifolio {

    .companies--box{
      .companies--list{ 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }

    .board {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1rem;
      .card {
        width: 100%;
        height: 10vw;

        h1 {
          text-align: end;
          padding-right: 0.25rem;

          background-image: linear-gradient(
            to right,
            rgba(253, 167, 128, 0.1),
            rgba(253, 167, 128, 0.3),
            rgba(255, 149, 101, 0.5),
            rgba(255, 149, 101, 0.7),
            #ff9565,
            #ff8c58,
            #ff824a,
            #ff7d43,
            #ff773b,
            #ff7233,
            #ff7030,
            #ff6825,
            #ff6825,
            #ff6825
          );
        }

        .lang {
          padding: 0 0.3rem;
          bottom: 0.3rem;
        }
      }
    }
  }
}
