main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template: 1fr / 1fr 1fr;

  background-image: url("../../assets/mobile bg.png");
  background-size: container;
  background-position: bottom;
  background-repeat: no-repeat;

  aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 1rem;

    div {
      display: flex;
      flex-direction: column;
      height: 20%;
      justify-content: flex-end;
      align-items: flex-end;

      nav {
        display: flex;
        flex-direction: column;
      }

      &:first-child {
        justify-content: flex-start;
      }
    }
    &:first-child {
      align-items: flex-start;
    }
  }
  button {
    border: 0;
    padding: 0.5rem;
    background: transparent;
    text-align: left;
    font-size: 1rem;
  }
}

.next {
  height: 100%;
}

.title {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.36rem;
  span {
    font-weight: 200;
  }
}
p {
  color: rgb(129, 127, 127);

  &:hover {
    color: #ebebeb;
  }
}

.see--more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 7rem;

  p {
    padding-right: 0.1rem;
    font-size: 1rem;
    color: #ebebeb;
  }
}

.days {
  display: none;
}

.ligh {
  display: none;
  padding-left: 0.2rem;
}

.slogan {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover .ligh {
    display: flex;
  }
}

.ref {
  height: 2.5rem;
}

@media (min-width: 600px) {
  main {
    background-image: url("../../assets/TESTE2.png");

    aside {
      padding: 4rem;
      div {
        height: 50%;
      }
    }
  }

  .next {
    height: inherit;
  }

  .see--more {
    margin-bottom: 0rem;

    p {
      padding-right: 0.5rem;
      margin-bottom: 0;
    }
    transform: rotate(7deg);
    &:hover {
      transform: rotate(0);
    }
  }

  .days {
    display: flex;
    justify-content: center;
    div {
      font-size: 1.25rem;
      align-items: center;
    }

    .yesday,
    .tomorw {
      opacity: 0.37;
      transform: scale(0.9);
    }
  }

  .wrapper {
    width: 75%;
    margin: 5rem auto;
  }
}
